
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');


@layer base {
  body {
    @apply font-[Albert+Sans];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  } 
} 

button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  cursor: pointer;
}

button::after {
  content: '';
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  transform: translate3d(-525%, 0, 0) rotate(35deg);
}

button:hover::after {
  transition: transform 0.45s ease-in-out;
  transform: translate3d(200%, 0, 0) rotate(35deg);
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:250px;

}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(26, 5, 77, 0.8),
    hsla(240, 88%, 23%, 0.8)
  )!important;
} 

.bg-custom-shadow{
  box-shadow: 0 .125rem 0 0 rgba(7,7,33,.15); 
}

.project-heading h2::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  width: 5px;
  height: 25px; 
  z-index: 1;
  background-color: #0a5ae6;
}
.project-heading h2{
  padding:5px;
}

.project-heading-title h2::before{
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  width: 5px;
  height: 40px;
  z-index: 1;
  background-color: #0a5ae6;
  -webkit-box-shadow: -2px 3px 15px 3px rgba(174, 182, 255, 0.612);
  box-shadow: -2px 3px 15px 3px rgba(174, 182, 255, 0.612);
}

svg * { transform-origin: 50% }

@keyframes left {
  100% { transform: rotate(-360deg) } 
}

@keyframes right {
  100% { transform: rotate(360deg) }
}

.image--monitor {
  display: flex;
  align-items: right;
  justify-content: end;
}


.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 10px;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 25px); }
	100% { transform: translate(0, -0px); }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}